# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local

# cached predictions and databases
/data/pdb/
/data/foldseek/
/data/diamond/

# domain cache
/.domain-cache/

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
